# rename WiFi module network interfaces via PCI bus number
SUBSYSTEMS=="pci", ACTION=="add", DRIVERS=="ath10k_pci", KERNELS=="0000:02:00.0", NAME="wlan0"
SUBSYSTEMS=="pci", ACTION=="add", DRIVERS=="ath10k_pci", KERNELS=="0000:03:00.0", NAME="wlan1"
