Source: v2406c-system
Section: admin
Priority: required
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: v2406c-base-system
Architecture: any
Depends: ${misc:Depends},
         v2406c-moxa-configs (= ${binary:Version}),
         moxa-version (>= 1.1.0),
         moxa-uart-control (>= 1.1.6),
         moxa-module-control (>= 1.3.1),
         moxa-dio-control (>= 1.2.0),
         moxa-cellular-utils (>= 2.0.5),
         moxa-v2406c-hotswapd (>= 1.0.0),
         moxa-hotswap-driver (>= 1.0.0),
         moxa-hwmon-ina2xx-driver (>= 4.9.189-3+1.0.0),
         moxa-it87-gpio-driver (>= 0.2.0),
         moxa-it87-serial-driver (>= 0.1.0+deb9),
         moxa-it87-wdt-driver (>= 5.2+0.1.0+deb9)
Description: Moxa V-2406C base system
 It contains the necessary tools for setting up V-2406C

Package: v2406c-moxa-configs
Architecture: all
Depends: ${misc:Depends}
Description: V-2406C platform configuration file
 The platform-related configuration items are recoreded in this file,
 these items will be referred to other platform packages
