Source: v2406c-system
Section: admin
Priority: required
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.moxa.com/

Package: v2406c-base-system
Architecture: any
Depends: ${misc:Depends},
         lm-sensors,
         v2406c-modules (= ${binary:Version}),
         v2406c-moxa-firmware (= ${binary:Version})
Description: Moxa V-2406C base system
 It contains the necessary tools for setting up V-2406C

Package: v2406c-modules
Architecture: any
Depends: ${misc:Depends},
         linux-image-4.9.0-9-amd64 (>= 4.9.168-1)
Description: Moxa V-2406C standard kernel modules
 The Linux kernel modules for use on V-2406C

Package: v2406c-moxa-firmware
Architecture: any
Depends: ${misc:Depends},
Description: Moxa V-2406C platform firmware files.
 The Linux firmare files for use on V-2406C
