[Unit]
Description=Moxa V2406C series initial setting
Before=rc-local.service

[Service]
Type=oneshot
ExecStart=/sbin/v2406c_platform_init start
ExecStop=/sbin/v2406c_platform_init stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
